.ipynb_checkpoints/
*/.ipynb_checkpoints/
.virtual_documents/

Private dataset/
Public Dataset/

anaconda_projects/

__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec

.env
.venv
env/
venv/
ENV/

.vscode/
.idea/
*.swp
*.swo
*~

.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

*.log
*.pot
*.pyc
